<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Capacité</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="rooms == null">
            <td colspan="4">
                <mat-spinner></mat-spinner>
                Chagement...
            </td>
        </tr>
        <tr *ngFor="let room of rooms">
            <td>{{room.name | uppercase}}</td>
            <td>{{room.seatCount }}</td>
            <td>{{room.price}}</td>
            <td>
                <a routerLink="/rooms/detail/{{room.id}}" mat-button>
                    <mat-icon>search</mat-icon>
                </a>
            </td>
        </tr>
    </tbody>

</table>